/.qmake.stash
/src/88-notes-classical-keyboard-Note-names-and-MIDI-numbers.png
*.o
/FMStudio
*.mp4
Makefile
moc_*
*.raw
qrc_*
ui_*
/src/tools/analyze
*.wav
*.csv
/src/tools/readmidi
/src/tools/waveformAnalysis
/src/tools/waveforms
